body{
    
}

#background{
    background-repeat: no-repeat;
    background-size: 100%;
    transform: rotate(90deg);
}

#playerCar{
    width: 450px;
    transform: rotate(-80deg);
    position: relative;
    top: 500px;
    left: 500px;
}