#playBtn{
    background-color: green;
    
    border-radius: 25px;
}
ul{
    list-style-type: none;
    display: inline-block;
}

body {
    background-color: aliceblue;
}

#enemyCar{
    width: 100px;
    height: 200px;
    position: relative;
    background: black;
}

html { overflow-y: hidden; overflow-x: hidden; }

#score{
    position: relative;
    background-color: aqua;
    left: 3fr;
    top: 1fr;
}